/*********   intro ***************/
.navbar-brand{
    background-color:inherit;
    position: relative;
    /*margin-top: -18px;*/
}
.navbar-link{
    margin-top: -10px;
}
.content {
	color: #313437;
	background-color:#fff; 
	padding-bottom:30px;
}
.content .intro {
	max-width: 1500px;
	margin: 0 auto 60px;
	padding-top:20px;
}
.ui.header {
    border: none;
    margin: calc(2rem - .14285em) 0 1rem;
    padding: 0;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-weight: 700;
    line-height: 1.2857em;
    text-transform: none;
    color: rgba(0,0,0,.87);
	text-align: center;
}
._3cO0u {
    color: #585858 !important;
}
._2aPKQ {
   color: #8d9399 !important;
}

/*********   box within item ***************/
.content .item {
	display: flex;
  	align-items: center;
  	justify-content: center;
}
.content .item .shadowbutton { 
    margin-bottom: 20px;
    width: 250px;
    height: 200px;
    box-shadow: 5px 5px 20px -10px;
    border: 1px solid black;
    text-align: center;
    overflow: hidden;
}
.content .item .shadowbutton .name {
  background-color: #CC0613;
  padding: 15px 15px;
  color: white;
  width: 250px;
  position: absolute;
  left: 0px;
  bottom: 60px;
  font-size: 100%;
  font-weight: bold;
  margin-bottom: 65px;
}
.content .item .shadowbutton .description {
	font-size: 14px;
    margin-top: 100px;
	color: #7d8285;
}

.content .item .shadowbutton:hover {
  -moz-box-shadow: 5px 5px 20px -10px #cc0613;
  -webkit-box-shadow: 5px 5px 20px -10px #cc0613;
  box-shadow: 5px 5px 20px -10px #cc0613; opacity: 0.9;
}

/*********   Footer  ***************/
.footer-basic {
	background-color:#ffffff; 
	padding:40px 0;
	color: #4b4c4d;
}
.footer-basic ul{
	padding:0;
	list-style:none;
	text-align: center;
	font-size: 18px;
	line-height: 1.6;
	margin-bottom: 0;
}
.footer-basic li{
	padding:0 10px;
}
.footer-basic ul a{
	color: imherit;
	text-decoration: none;
	opacity: 0.8;
}
.footer-basic ul a:hover{
	opacity: 1;
}
.footer-basic .social{
	text-align: center;
	padding-bottom: 10px;
}
.footer-basic .social > a{
	font-size: 24px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	border: 1px solid #ccc;
	margin: 0 8px;
	color: inherit;
	opacity: 0.75;
}
.footer-basic .social > a:hover{
	opacity: 0.9;
}
.footer-basic .copyright{
	margin-top: 15px;
	text-align: center;
	font-size: 13px;
	color: #aaa;
	margin-bottom: 0;
}

@media(max-width:767px){
.features-clean{
	padding-bottom: 10px;
}
}

/*********   dynamic Repos  ***************/
#wrapper {
	margin: 2px auto;
}

label.search span
{
	text-transform: uppercase;
	float: left;
	padding-top: 6px;
	padding-left: 5px;
	font-weight: 700;
	padding-right: .25em;
}
.search
{
	float:right !important;
	font-family: 'Helvetica';
	padding-right: 0;
	margin-right: 0;
}
.filter
{
	float: right;
	padding: 5px;
	width: 280px;
	border: 1px solid #e8e8e8;
}
@media only screen and (max-width:440px){
	#search{
		float: initial;
		width:100%;
	}
}

.separator
{
	clear: both;
}
.gap
{
	height: 10px;
}

.section-title
{
	background-color: #cc0613;
	text-transform: uppercase;
	position: relative;
	margin: 3px;
}
.section-title .title
{
	font-family: Helvetica;
	letter-spacing: 2px;
	font-size: 16px;
	margin-left:20px;
	line-height:40px;
	vertical-align: bottom;
	color:#fff
}

#repos {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
}
#repos h4
{
	font-size: 16px;
	color: #1b1f30;
	margin-top: 0;
	padding: 3px;
	padding-top: 10px;
}
#repos h5
{
	padding-left: 5px;
}
#repos p
{
	font-family: Helvetica-Neue-Md;
	font-size: 12px;
	padding: 5px;
}


.section
{
	padding-top: 2px;
	background-color: #fff;
	text-transform: none;
}

.twistie
{
	float: right;
	padding: 5px;
	cursor: pointer;
	position: absolute	;
	right: 20px;
	top: 10px;
}
.in+a.twistie.showdetails:before
{
    content:'';
    width: 70px;
    padding-left: 20px;
    position: absolute;
    top: 0;
    color: #aaa;
    height: 30px;
}
.collapse+a.twistie.showdetails:before
{
    content:'';
    padding-left: 20px;
    position: absolute;
    top: 0;
    color: #aaa;
    width: 70px;
    height: 30px;
}

.nrepos
{
	vertical-align: middle;
}

#wrapper .card
{
	margin: 5px;
	height: 160px;
	text-overflow: ellipsis;
	overflow: hidden;
}
.card h4
{
	overflow: hidden;
	color: #00649c;
	font-size: 1.25em;
	font-weight: 200;
	width: 100%;
	text-overflow: ellipsis;
	line-height: 1.5;
	margin-bottom: 0;
}

.card h5
{
	color: #00b1ef;
	font-size: 1em;
	margin-top: 0;
}
@media only screen and (max-width:440px){
	#wrapper .card{
		width:95%;
	}
}



.org
{
	display: inline;
	color: #333;
	font-size: 0.75em;
	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;
	width: 40px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.org a
{
	padding-left: 10px;
	color: #aaa;

}
.org a:hover
{
	text-decoration: none;
}

.pin {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;

	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}
.pin img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}
.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	font-size: 0.75em;
	height: 55px;
	overflow: hidden;
	margin: 0;
}

#columns:hover .pin:not(:hover) {
	opacity: 0.4;
}





@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}


@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

/*
@media (min-width: 768px) {
	.col-sm-5
	{
		width: 48%;
	}
}
*/

/*
@media (min-width: 992px) {
	.col-md-4
	{
		width: 32%;
	}
}
*/


@media (min-width: 1200px) {
	.col-lg-2
	{
		width: 25%
	}	
	.col-lg-3
	{
		width: 24%
	}
	.col-lg-4
	{
		clear: left
	}
}